/* margini pagina rimossi */
body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}


/* sfondo logo */
body header div {
    background-color: rgb(33, 117, 228);
    background-image: url(../img/pattern.png);
    background-size: contain;
}

/* dimensioni logo e spazi */
div img {
    max-width: 13%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 90px;
}

/* spaziatura laterale sezioni */
section {
    margin-left: 70px;
}

/* spaziatura immagine 1 */
#immagine-fondatore {
    margin-top: 20px;
}

/* spaziatura paragrafi */
h1 {
    margin-bottom: 0px;
}

#paragrafo-foto-uno {
    margin-bottom: 0px;
    margin-top: 0px;
}

#paragrafo-foto-due {
    margin-top: 0px;
    margin-bottom: 30px;
} 

.descrizione-foto {
    color: rgb(161, 161, 161, 0.7);
    margin-bottom: 0px;
    margin-top: 0px;
}

span {
    color: rgb(0, 174, 255);
}

/* tabella colorata */
table {
    border-collapse: collapse;
} 

thead {
    background-color: rgb(0, 162, 255);
}

thead th {
    color: white;
}

thead .intestazione {
    padding-right: 60px;
}

thead #intestazione-lunga {
    text-align: left;
}

tbody .riga-azzurra {
    background-color: rgb(12, 202, 250);
}

tbody td {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* testo traslucido info */
body aside section h3 {
    color: rgb(161, 161, 161, 0.5);
}

/* foto link curiosità con testi */
body aside div {
    margin-left: 70px;
}

#monitor-uno {
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    min-height: 200px;
}

#monitor-due {
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    min-height: 200px;
}

h3 {
    color: white;
    padding-top: 8px;
    padding-left: 6px;
}